@font-face {
  font-family: 'majesti_bannerbold';
  src: url("../majesti-banner-bold-webfont.woff2") format('woff2'), url("../majesti-banner-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'majesti_bannermedium';
  src: url("../majesti-banner-medium-webfont.woff2") format('woff2'), url("../majesti-banner-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  text-rendering: optimizeLegibility;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 870px) {
  .wrapper {
    display: block;
    grid-template-columns: none;
  }
}
a {
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: text-decoration 800ms ease-in-out;
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #dd372d;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.bold {
  font-weight: 500;
  color: #444b4e;
}
h5,
h5.current {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Avenir Next', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #444b4e;
}
h5::after,
h5.current::after {
  content: '';
  border-top: 6px solid #dd372d;
  border-right: 6px solid transparent;
  margin: 5px 0px 0px 7px;
  position: absolute;
}
h5.current::after {
  content: '';
  border-top: 6px solid #dd372d;
  border-left: 6px solid transparent;
  border-right: 0px !important;
  margin: 10px 0px 0px 6px;
  position: absolute;
  transform: rotate(90deg);
}
span.primary {
  color: #dd372d;
}
span.secondary {
  color: #afafaf;
}
p {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Avenir Next', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #8c8f93;
  line-height: 2.1;
  padding-top: 5px;
}
.left-col {
  padding: 20%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 870px) {
  .left-col {
    display: block;
  }
}
@media screen and (max-width: 1366px) {
  .left-col {
    padding: 60px;
  }
}
.left-col ul.name {
  display: none;
}
@media screen and (max-width: 600px) {
  .left-col {
    padding: 30px !important;
  }
  .left-col ul.name {
    margin: 0 auto;
    display: inline;
    align-items: center;
    float: left;
    list-style: none;
    position: relative;
    transform: rotate(0deg);
    z-index: 1;
    width: 353px;
  }
  .left-col ul.name li {
    display: inline;
    position: relative;
    padding-left: 12px;
  }
  .left-col ul.name li .small-circle {
    height: 3px;
    width: 3px;
    background-color: #bbc5c8;
    position: absolute;
    top: 6px;
    left: 8px;
    display: inline;
    border-radius: 50%;
    right: 0px;
    letter-spacing: 1px;
  }
  .left-col ul.name li h2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 12px;
    color: #444b4e;
    display: inline;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
    font-weight: normal;
  }
  .left-col ul.name li h2.bold {
    font-weight: bold;
  }
  .left-col ul.name li:first-child {
    padding-left: 0px;
  }
}
.left-col .heading {
  width: 100%;
  height: 193px;
  display: block;
}
.left-col .heading h1 {
  font-family: 'majesti_bannerbold', -apple-system, BlinkMacSystemFont, 'Avenir Next', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 8em;
  color: #444b4e;
  letter-spacing: -2.8px;
  line-height: 90px;
  font-weight: 600;
  width: 560px;
}
@media screen and (min-width: 1230px) {
  .left-col .heading h1 {
    font-size: 7em;
    width: 560px;
  }
}
@media screen and (max-width: 965px) {
  .left-col .heading h1 {
    font-size: 6.3em;
  }
}
@media screen and (max-width: 600px) {
  .left-col .heading h1 {
    font-size: 5.2em;
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .left-col .heading h1 {
    font-size: 4.5em;
    width: 100%;
  }
}
.left-col .heading h1 #one {
  height: 80px;
  padding-top: 10px;
  position: absolute;
  overflow: hidden;
  animation: textContainer 0.5s linear;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
}
.left-col .heading h1 #two {
  margin-top: 106px;
  height: 80px;
  padding-top: 10px;
  position: absolute;
  overflow: hidden;
  animation: textContainer 0.5s linear;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none;
  width: 560px;
}
@media screen and (min-width: 900px) {
  .left-col .heading h1 #two {
    width: 590px !important;
  }
}
@media screen and (max-width: 1084px) {
  .left-col .heading h1 #two {
    width: 560px;
  }
}
@media screen and (max-width: 600px) {
  .left-col .heading h1 #two {
    margin-top: 70px;
    width: 90% !important;
  }
}
@media screen and (max-width: 600px) and (max-width: 500px) {
  .left-col h2 {
    letter-spacing: 1px;
    font-size: 11px;
  }
}
.location {
  margin-top: 26px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex !important;
}
.location .locaiton-pin-container {
  display: flex;
}
.location .locaiton-pin-container img {
  width: 14px;
  height: 17px;
  padding: 0px 0px 0px;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.location .current-location {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Avenir Next', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #b6c0c4;
  text-transform: uppercase;
  margin-left: 10px;
  font-weight: 400;
  padding: 0px;
  display: inline;
}
@media screen and (max-width: 600px) {
  .location {
    margin-top: 30px;
  }
}
.past,
.current {
  margin-top: 44px;
  max-width: 340px;
}
#slider {
  margin: 20px 0px;
  height: 1px;
  max-width: 340px;
}
#slider svg {
  height: 1px;
  max-width: 340px;
}
@media screen and (max-width: 500px) {
  #slider {
    max-width: 300px !important;
  }
}
.quotes {
  display: none;
  min-height: 90px;
}
.social-list-container {
  display: block;
  margin-top: 50px;
}
ul.social-list {
  margin: 40px auto;
  list-style: none;
}
@media screen and (max-width: 500px) {
  ul.social-list {
    padding-top: 20px;
  }
}
ul.social-list li {
  display: inline;
  padding: 10px;
}
ul.social-list li a.social-links img {
  transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
ul.social-list li a.social-links img:hover {
  transform: translateY(-6px);
}
@media screen and (max-width: 500px) {
  ul.social-list img {
    width: 18px;
  }
  ul.social-list a:before {
    background-color: none !important;
  }
}
.right-col {
  height: 100%;
  bottom: 0px;
  position: relative;
}
@media screen and (max-width: 870px) {
  .right-col {
    display: block !important;
  }
}
@media screen and (max-width: 500px) {
  .right-col {
    height: 50%;
    margin-top: 100px;
  }
}
.right-col img.me {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 90%;
  max-width: 590px;
  z-index: 1;
}
@media screen and (max-width: 870px) {
  .right-col img.me {
    position: absolute;
    bottom: inherit;
    width: 100%;
  }
}
.right-col span.circle {
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 30px 50px 0 rgba(0,0,0,0.06);
  width: 200px;
  height: 200px;
  z-index: -2;
  animation: move 10s 3300ms linear alternate infinite, fade-in 3300ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@-moz-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-20px, 100px);
  }
  50% {
    transform: translate(0px, 200px);
  }
  75% {
    transform: translate(-40px, 300px);
  }
  100% {
    transform: translate(0px, 400px);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-20px, 100px);
  }
  50% {
    transform: translate(0px, 200px);
  }
  75% {
    transform: translate(-40px, 300px);
  }
  100% {
    transform: translate(0px, 400px);
  }
}
@-o-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-20px, 100px);
  }
  50% {
    transform: translate(0px, 200px);
  }
  75% {
    transform: translate(-40px, 300px);
  }
  100% {
    transform: translate(0px, 400px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-20px, 100px);
  }
  50% {
    transform: translate(0px, 200px);
  }
  75% {
    transform: translate(-40px, 300px);
  }
  100% {
    transform: translate(0px, 400px);
  }
}
@media screen and (max-width: 870px) {
  .right-col span.circle {
    top: 0px;
    right: 10px;
    width: 150px;
    height: 150px;
    z-index: -2;
    animation: move 25s 6000ms linear alternate infinite, fade-in 6000ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
@-moz-keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(-200px, 50px);
    }
    50% {
      transform: translate(0px, 100px);
    }
    75% {
      transform: translate(-200px, 150px);
    }
    100% {
      transform: translate(0px, 200px);
    }
}
@-webkit-keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(-200px, 50px);
    }
    50% {
      transform: translate(0px, 100px);
    }
    75% {
      transform: translate(-200px, 150px);
    }
    100% {
      transform: translate(0px, 200px);
    }
}
@-o-keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(-200px, 50px);
    }
    50% {
      transform: translate(0px, 100px);
    }
    75% {
      transform: translate(-200px, 150px);
    }
    100% {
      transform: translate(0px, 200px);
    }
}
@keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(-200px, 50px);
    }
    50% {
      transform: translate(0px, 100px);
    }
    75% {
      transform: translate(-200px, 150px);
    }
    100% {
      transform: translate(0px, 200px);
    }
}
}
.right-col ul {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: absolute;
  right: -80px;
  top: 350px;
  transform: rotate(-90deg);
  z-index: 1;
}
@media screen and (max-width: 870px) {
  .right-col ul {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .right-col ul {
    right: -100px;
  }
}
.right-col ul li {
  display: inline;
  position: relative;
  padding-left: 20px;
}
.right-col ul li .small-circle {
  height: 3px;
  width: 3px;
  background-color: #bbc5c8;
  position: absolute;
  display: inline;
  border-radius: 50%;
  right: 0px;
  letter-spacing: 1px;
}
.right-col ul li h2 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  color: #444b4e;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 1;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.right-col ul li h2.bold {
  font-weight: bold;
}
.right-col ul li:first-child {
  padding-left: 0px;
}
.right-col ul small-circle {
  height: 3px;
  width: 3px;
  position: absolute;
  display: inline;
  border-radius: 50%;
  right: 0px;
  padding: 20px;
}
@-webkit-keyframes textContainer {
  from {
    height: 0px;
    padding-top: 75px;
  }
  to {
    height: 75px;
    padding-top: 10px;
  }
}
@-webkit-keyframes textContainer2 {
  from {
    height: 0px;
    padding-top: 75px;
  }
  to {
    height: 75px;
    padding-top: 10px;
  }
}
.quote-container {
  margin-top: 40px;
  max-width: 400px;
  position: relative;
  min-height: 130px;
}
.quote-container .quote-name {
  margin-top: 10px;
}
.quote-container .quote {
  font-family: 'majesti_bannermedium', -apple-system, BlinkMacSystemFont, 'Avenir Next', Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #444b4e;
  line-height: 31px;
  display: block;
}
.animation {
  animation: 800ms cubic-bezier(0.215, 0.9, 0.355, 1) 1 fadeInContent;
  display: none;
}
@-webkit-keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: matrix(0, 0, 0, 0, 0, 0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform: scale(1);
  }
}
.opacity-animation {
  animation: 1000ms cubic-bezier(0.215, 0.9, 0.355, 1) 1 oppacityEase;
  display: none;
}
.opacity-animation -webkit-keyframes oppacityEase 0% {
  opacity: 0;
}
.opacity-animation -webkit-keyframes oppacityEase 100% {
  opacity: 1;
}
@-moz-keyframes fade-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fade-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes fade-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
